@import "~src/globals.scss";

$container-width: 80%;
$bottom-btns-width: 45%;

.wrapper{
    padding: 0 (100-$container-width)/2;
    width: $container-width;
    .result{
        margin: 10vh 0;
        width: 100%;
        height: 45vh;
        text-align: center;
        box-shadow: 0 0 0 5px $main-clr;
        background: $third-clr;
        border-radius: 5px;
        .text{
            color: $main-clr;
            font-size: 70px;
            position: relative;
            font-family: $font;
            top: 50%;
            transform: translateY(-50%); 
            &::before{
                content: 'Счёт';
                font-size: 60px;
                display: block;
                widows: 100%;
            }
        }
    }
    .back{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        .result-btn{
            font-family: $font;
            border-radius: 4px;
            box-shadow: 0 0 0 4px $main-clr;
            border: none;
            // background: $third-clr;   
            background: $main-clr;
            height: 10vh;
            &:hover, &:focus, &:active{
                outline: none
            }
            img{
                height: 70%;
            }
        }
        .retry-btn{
            width: 100%;
        }
        .home-btn{
            width: $bottom-btns-width;
            margin:2vh 0;
            margin-right: (50-$bottom-btns-width);
        }
        .leaderboards-btn{
            width: $bottom-btns-width;
            margin:2vh 0;
            margin-left: (50-$bottom-btns-width);
        }
    }  
}