$main-clr: #75E3FF;

.content{
    position: relative;
    display: block;
    z-index: 1;
    min-height: 100vh;
    width: 100vw;
    background: url(/assets/back.svg);
    background-color: $main-clr;
    background-size: auto 100%;
}
