@import "~src/globals.scss";

$stats-space: 1%;
$stats-per-line: 5;
$stats-width: (100%-($stats-space*$stats-per-line*2))/$stats-per-line;

$stats-height: 2.5vh;
$stats-spacing-bot: 2.5vh;
$question-height: 40vh;
$answers-height: 40vh;
$time-height: 2.5vh;
$time-spacing: 2.5vh;
$answer-vert-spacing: 7.5%;
$answer-horiz-spacing: 7.5%;

$containter-vert-padding: (100vh-($stats-height+$stats-spacing-bot+$question-height+$answers-height+$time-height+$time-spacing*2))/2;

.wrapper{
    @include container($containter-vert-padding);
    .answering-stats{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        margin-bottom: $stats-spacing-bot;
        height: $stats-height;
        .stat{
            box-shadow: 0 0 0px 1px $main-clr;
            border-radius: 5px;
            width: $stats-width;
            margin: 0 $stats-space;
            height: 2.5vh;
        }
        .notAnswered{
            background-color: $third-clr;
        }
        .correct{
            background-color: $green;
        }
        .incorrect{
            background-color: $red;
        }
    }
    .question{
        height: $question-height;
        font-family: $font;
        color: $main-clr;
        box-shadow: 0 0 0 5px $main-clr;
        background: $third-clr;
        border-radius: 5px;
        div{
            width: 90%;
            margin: 0 5%;
        }
    }
    .time{
        width: 100%;
        border-radius: 5px;
        height: $time-height;
        box-shadow: 0 0 0 2.5px $main-clr;
        margin: $time-spacing 0;
        background: transparent;
        overflow: hidden;
        .time-bar{
            position: relative;
            border-radius: 5px;
            height: 100%;
            width: 100%;
            background: $red;
            transition: 0.1s;
        }
    }
    .answers{
        width: 100%;
        height: $answers-height;
        display: flex;
        flex-wrap: wrap;
        .answer{
            color: $main-clr;
            font-family: $font;
            border-radius: 4px;
            border: none;
            box-shadow: 0 0 0 5px $main-clr;
            background: $third-clr;
            word-wrap: break-word;    
            width: 50% - $answer-vert-spacing/2;
            height: 50% - $answer-horiz-spacing/2;
            &:hover, &:focus, &:active{
                outline: none
            }
            &:nth-child(odd){
                margin-right: $answer-horiz-spacing/2;
            }
            &:nth-child(even){
                margin-left: $answer-horiz-spacing/2;
            }
            &:nth-child(1),&:nth-child(2){
                margin-bottom: $answer-vert-spacing;
            }
        }
        .answer-correct{
            background: $green !important;
            color:$third-clr;
        }
        .answer-incorrect{
            background: $red !important;
            color:$third-clr;
        }
    }
}