$main-clr: #007780;
$text-clr: #00B2CE;
$back-clr: white;
$font-size: 25px;
$category-radius: 0;

.wrapper{
    .header{
        padding-top: 2.5vh;
        padding-bottom: 2.5vh;
        width: 100%;
        color: $text-clr;
        font-size: $font-size;
        text-align: center;
        font-weight: 600;
        position: relative;
        height: 5vh;
        .back{
            text-decoration: none;
            position: absolute;
            left: 5px;
            font-weight: 900;
            &:visited{
                color: $text-clr;
            }
        }
    }
    .categories{
        display: flex;
        flex-direction: column;
        align-content: center;
        justify-content: center;
        .category{
            border-radius: $category-radius;
            width: 100%;
            height: 30vh;
            position: relative;
            .title{
                background: black;
                opacity: .7;
                position: absolute;
                color: white;
                top: 45%;
                left: 0;
                padding: 0 10px;
                font-size: $font-size;
            }
            img{
                border-radius: $category-radius;
                width: 100%;
                filter: blur(1px);
                height: 100%;
            }
        }
    }
}


