.categories{
    overflow:hidden;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    overflow: hidden;
    
    .category{
        border: solid 1px black;
        border-radius: 5px;
        width: 90%;
        margin: 0 5%;
        height: 30vh;
        margin-top: 2%;
        margin-bottom: 2%;
        position: relative;

        span{
            
        }
    }

}

.categories-title{
    text-align: center
}