<form (ngSubmit)="onSubmit()">
    <div class="wrapper">
        <div class="photo">
            <img [src]="data.imagePath" name="imagePath" id="photo">
            <button type="button" (click)="takePicture()" class="add-btn">+</button>
        </div>
        <div class="name">
            <input required pattern="[A-Za-zА-Яа-я0-9]{2,}"  name="nickname" autocomplete="off" [(ngModel)]="data.name" type="text" placeholder="Введите имя"/>
            <button>></button>
        </div>
    </div>
</form>

    