@import "~src/globals.scss";

$img-size: 60vw;
$input-height: 5vh;

.wrapper{
    @include container();
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center; 
    .photo{
        height: $img-size;
        width: $img-size;
        border-radius: 50%;
        box-shadow: 0 0 0 5px $main-clr;
        margin: 10% 0;
        background: $third-clr;
        position: relative;
        vertical-align: middle;
        .add-btn{
            content: '+';
            display: flex;
            align-items: center;
            justify-content: center;
            font-size: 25px;
            font-weight: 600;
            text-align: center;
            height: 25%;
            width: 25%;
            color: $third-clr;
            position: absolute;
            bottom: 0;
            right: 0;
            box-shadow: 0 0 0 1px black;
            border-radius: 50%;
            background: $main-clr;
            opacity: .5;
            &:active, &:focus, &:hover{
                outline: none;
            }
        }
        img{
            width: 100%;
            height: 100%;
            border-radius: 50%;
        }
    }
    .btn-start{
        margin-top: 20%;
        width: 100%;
    }
    .name{
        margin-top: 20%;
        width: 100%;
        position: relative;
        input{
            height: $input-height;
            width: 80%;
            border: 0px;
            background: transparent;
            padding-bottom:5px;
            padding-left: 5px;
            font-weight: 200;
            border-bottom: 5px solid $main-clr;
            border-radius: 1px;
            color: #3A3A3A;
            font-family: $font;
            &:focus{
                outline: none;
            }
        }
        button{
            visibility: hidden;
            position: absolute;
            right: 0px;
            bottom: 10px;
            min-height: 20px;
            min-width: 20px;
            width: $input-height;
            height: $input-height;
            border: 0;
            border-radius: 25%;
            background: $main-clr;
            color: $third-clr;
            transition: 0.5s;
        }
    };
    input[type="text"]{
        &:invalid:not(:placeholder-shown) {
            border-bottom: solid 5px $red;
        }
        &:invalid:focus{
            border-bottom: solid 5px $red;
            & ~ button {
                visibility: hidden;
            }
        }
        &:valid{
            & ~ button{
                visibility: visible;
            }
        }
    } 
}
