<form (ngSubmit)="onSubmit()">
    <div class="main-container">
        <div class="photo">
            <img [src]="data.imagePath" name="path" id="photo">
            <button type="button" (click)="takePicture()" class="add-btn">+</button>
        </div>
        <input required name="name" pattern="[A-Za-zА-Яа-я0-9]{4,}" class="name" [(ngModel)]="data.name" type="text" placeholder="Введите имя"/>
        <!-- <div class="requirements">Имя должно быть не меньше 4 букв или цифр</div> -->
        <button type="submit" class="btn btn-start">Продолжить</button>
    </div>
</form>

    