<div class="wrapper">
    <div class="header">
        <a routerLink="/main-menu" routerLinkActive="active" class="back">&lt;</a>
        Играть вместе
        <a (click)="reload()" routerLinkActive="active" class="reload">upd</a>
    </div>
    <div class="games">
        <div class="game">
            <img src="https://cdn2.iconfinder.com/data/icons/safety-first-green-signs/200/ISO_7010_E001-512.png" class="avatar"/>
            <div class="nickname">Ddasaddasd</div>
            <button class="btn btn-connect">Играть</button>
        </div>
    </div>
    <div class="footer">
        <button class="btn btn-create">Создать игру</button>
    </div>
    
</div>