@import url('https://fonts.googleapis.com/css?family=Russo+One');
@import url('https://fonts.googleapis.com/css?family=Marmelad');

$main-clr: #007780;
$sec-clr: white;
$font: 'Marmelad', sans-serif;

* {
    -webkit-tap-highlight-color: rgba(0,0,0,0);  
}

html{
    -webkit-touch-callout: none;               
    -webkit-text-size-adjust: none;             
    -webkit-user-select: none;     
}
body{
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

.btn{
    background: $sec-clr;
    font-family: $font;
    font-size: 20px;
    border-radius: 10px;
    height: 55px;
    color:$main-clr;
    border: 3px solid $main-clr;
    font-weight: 600;
    &:hover, &:focus, &:active{
        outline: none
    }
}

.text-center{
    position: relative;
    font-family: $font;
    text-align: center;
    top: 50%;
    transform: translateY(-50%); 
}


.header{
    padding-top: 2.5vh;
    padding-bottom: 2.5vh;
    width: 100%;
    color: $main-clr;
    font-size: 25px;
    text-align: center;
    font-weight: 600;
    position: relative;
    height: 5vh;
    .back{
        text-decoration: none;
        position: absolute;
        left: 5px;
        font-weight: 900;
        &:visited{
            color: $main-clr;
        }
    }
}