@import "~src/globals.scss";

$logo-height: 30vh;
$logo-spacing: 5vh;
$button-height: 10vh;

.wrapper{
    @include container();
    display: flex;
    align-items: center;
    justify-items: center;
    flex-wrap: wrap;
    flex-direction: column;
    .buttons{
        width: 90%;
        .btn-menu{
            height: $button-height;
            width: 100%;
            margin: 2.5vh 0;
            &:focus, &:active, &:hover{
                outline: none;
            } 
        }
    }
    .logo{
        width: 100%;
        height: $logo-height;
        margin: $logo-spacing 0;
        display: flex;
        img{
            display: block;
            width: 100%;
        }
    }
   
}
